{% switch settings.background %}
  {% case 'grey' %}
    {% set fill = 'fill-white' %}
  {% case 'dark' %}
    {% set fill = 'fill-darker' %} 
  {% case 'brand' %}
    {% set fill = 'fill-brand-dark' %}    
  {% default %}
    {% set fill = 'fill-bar' %}
{% endswitch %}
<div class="absolute bottom-0 right-0">
<svg class="w-img h-auto {{ fill }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="267px"
	 height="201.6px" viewBox="0 0 267 201.6" style="overflow:visible;enable-background:new 0 0 267 201.6;" xml:space="preserve">
	<path d="M45.2,172.4l10-10c1.9-1.9,4.4-2.9,7.1-2.9s5.2,1,7.1,2.9L88,181l-20.6,20.6h5.7l17.7-17.7l4.6,4.6l-2.6,2.6
		c-2.9,2.9-4.3,6.8-4.1,10.6h4c-0.2-2.8,0.8-5.6,2.9-7.8l2.6-2.6l10.3,10.3h5.7L101,188.4l19.2-19.2c1.9-1.9,4.4-2.9,7.1-2.9
		c2.7,0,5.2,1,7.1,2.9l10,10c3.9,3.9,3.9,10.2,0,14.1l-8.2,8.2h5.7l5.3-5.3c5.5-5.5,5.5-14.3,0-19.8l-10-10
		c-2.7-2.7-6.3-4.1-9.9-4.1s-7.2,1.4-9.9,4.1l-19.2,19.2l-4.6-4.6l32.9-32.9l41.3,41.3l-12.2,12.2h5.7l9.3-9.3l9.3,9.3h5.7
		l-12.2-12.2l7.9-7.9c1.9-1.9,4.4-2.9,7.1-2.9s5.2,1,7.1,2.9l11.5,11.5l-8.6,8.6h5.7l5.7-5.7l5.7,5.7h5.7l-8.6-8.6l35.4-35.4
		l18.9,18.9v-5.7l-16-16l6.9-6.9l9.1,9.1v-5.7l-6.3-6.3l0.3-0.3c1.6-1.6,3.8-2.6,6-2.9v-4c-3.2,0.2-6.4,1.6-8.9,4.1l-0.3,0.3
		l-29.1-29.1l34.7-34.7c1.7-1.7,2.9-3.7,3.5-5.9v-8c-0.6-2.2-1.8-4.2-3.5-5.9l-6.2-6.2l8.6-8.6l1,1v-7.7l-1,1l-15.8-15.8L267,5.7V0
		l-19.6,19.6l-1.6-1.6c-2.7-2.7-6.3-4.1-9.9-4.1c-3.6,0-7.2,1.4-9.9,4.1l-1.6,1.6l-8.5-8.5c-2.7-2.7-6.3-4.1-9.9-4.1
		c-3.6,0-7.2,1.4-9.9,4.1l-44.4,44.4l-15.3-15.3c-2.7-2.7-6.3-4.1-9.9-4.1s-7.2,1.4-9.9,4.1l-1.6,1.6l-0.8-0.8
		c-2.7-2.7-6.3-4.1-9.9-4.1s-7.2,1.4-9.9,4.1l-1.6,1.6c-5.5,5.5-5.5,14.3,0,19.8l0.8,0.8L77.5,79.3c-5.5,5.5-5.5,14.3,0,19.8
		l3.9,3.9L4.1,180.3c-5.5,5.5-5.5,14.3,0,19.8l1.5,1.5h5.7l-4.3-4.3C5,195.4,4,192.9,4,190.2s1-5.2,2.9-7.1l77.3-77.3l39.5,39.5
		l-32.9,32.9l-18.6-18.6c-2.7-2.7-6.3-4.1-9.9-4.1c-3.6,0-7.2,1.4-9.9,4.1l-10,10c-5.5,5.5-5.5,14.3,0,19.8l12.2,12.2h5.7l-15-15
		C41.3,182.6,41.3,176.3,45.2,172.4z M255,145.1l-6.9,6.9l-29.1-29.1l6.9-6.9L255,145.1z M247.4,25.3L263.1,41l-8.6,8.6l-15.8-15.8
		L247.4,25.3z M251.6,52.5l-24.7,24.7c-1.9,1.9-4.4,2.9-7.1,2.9s-5.2-1-7.1-2.9l-1.6-1.6c-1.9-1.9-2.9-4.4-2.9-7.1
		c0-2.7,1-5.2,2.9-7.1l24.7-24.7L251.6,52.5z M228.8,20.9c1.9-1.9,4.4-2.9,7.1-2.9s5.2,1,7.1,2.9l1.6,1.6l-8.6,8.6l-8.6-8.6
		L228.8,20.9z M233.1,33.9l-24.7,24.7c-5.5,5.5-5.5,14.3,0,19.8l1.6,1.6c2.7,2.7,6.3,4.1,9.9,4.1c3.6,0,7.2-1.4,9.9-4.1l24.7-24.7
		l6.2,6.2c1.9,1.9,2.9,4.4,2.9,7.1s-1,5.2-2.9,7.1l-34.7,34.7l-36.2-36.2c-3.9-3.9-3.9-10.2,0-14.1l34.7-34.7L233.1,33.9z M199,14
		c1.9-1.9,4.4-2.9,7.1-2.9s5.2,1,7.1,2.9l8.5,8.5l-34.7,34.7c-5.5,5.5-5.5,14.3,0,19.8l36.2,36.2l-6.9,6.9l-61.6-61.6L199,14z
		 M213.4,122.9l-8.6,8.6l-61.6-61.6l8.6-8.6L213.4,122.9z M124.5,88.5l15.8-15.8l61.6,61.6l-15.8,15.8L124.5,88.5z M183.3,152.9
		l-1.6,1.6c-1.9,1.9-4.4,2.9-7.1,2.9s-5.2-1-7.1-2.9L120.1,107c-3.9-3.9-3.9-10.2,0-14.1l1.6-1.6L183.3,152.9z M204.8,137.2
		L204.8,137.2c3.9,3.9,3.9,10.3,0,14.2l-1.6,1.6c-1.9,1.9-4.4,2.9-7.1,2.9s-5.2-1-7.1-2.9l0,0L204.8,137.2z M119.4,43.1
		c1.9-1.9,4.4-2.9,7.1-2.9s5.2,1,7.1,2.9l15.3,15.3l-8.6,8.6l-22.4-22.4L119.4,43.1z M115,47.5l22.4,22.4l-15.8,15.8L99.3,63.2
		L115,47.5z M92.7,52.5c0-2.7,1-5.2,2.9-7.1l1.6-1.6c1.9-1.9,4.4-2.9,7.1-2.9s5.2,1,7.1,2.9l0.8,0.8L96.5,60.4l-0.8-0.8
		C93.8,57.7,92.7,55.2,92.7,52.5z M80.4,96.3c-3.9-3.9-3.9-10.2,0-14.1L96.5,66l22.4,22.4l-1.6,1.6c-5.5,5.5-5.5,14.3,0,19.8
		l47.5,47.5c2.7,2.7,6.3,4.1,9.9,4.1c3.6,0,7.2-1.4,9.9-4.1l1.6-1.6l0,0c2.7,2.7,6.3,4.1,9.9,4.1c3.6,0,7.2-1.4,9.9-4.1l1.6-1.6
		c5.5-5.5,5.5-14.3,0-19.8l0,0l8.6-8.6l29.1,29.1l-35.4,35.4l-11.5-11.5c-2.7-2.7-6.3-4.1-9.9-4.1c-3.6,0-7.2,1.4-9.9,4.1l-7.9,7.9
		l-41.4-41.4c4.3-5.5,3.9-13.4-1.2-18.5l-25.3-25.3c-2.7-2.7-6.3-4.1-9.9-4.1c-3,0-6,1-8.6,2.9L80.4,96.3z M87.2,103.1
		c1.7-1.2,3.6-1.8,5.7-1.8c2.7,0,5.2,1,7.1,2.9l25.3,25.3c1.9,1.9,2.9,4.4,2.9,7.1c0,2.1-0.6,4-1.8,5.7L87.2,103.1z"/>
	<polygon points="258.6,201.6 264.3,201.6 267,198.9 267,193.2 	"/>
</div>