{% import 'partials/_macros' as helpers %}

{% set defaults = {
  'id' : '',
  'dismissText': '',
  'textContent': '',
  'delay': '',
  'expiry': '',
} %}

{% if settings is defined %}
  {% set settings = defaults|merge(settings) %}
{% else %}
  {% set settings = defaults %}
{% endif %}

{% set expiry = settings.expiry is not empty ? settings.expiry : 365 %}
{% set delay = settings.delay is not empty ? settings.delay : 0 %}

<div data-alert x-cloak id="{{ settings.id }}" data-delay="{{ delay }}" class="{{ component('moduleWidth', false, 'p-p32 bg-white fixed bottom-0 mq768:bottom-p10 inset-x-0 mq768:inset-x-p10 mq1280:inset-x-0 z-100 shadow-notice rounded-t-lg mq768:rounded-b-lg opacity-0 translate-y-p32 transition-all') }}">
  <div class="mq768:flex mq768:items-center">
    <div class="c-content">{{ settings.textContent }}</div>
    <div class="ml-auto mq768:pl-p20 mt-p20 mq768:mt-none">
      {% include 'components/_button.twig' with { settings: {
        'text'  : settings.dismissText is not empty ? settings.dismissText : 'Dismiss'|t,
        'type'  : 'button',
        'style' : 'terracotta',
        'atts': {
          '@click': "setCookie('" ~ settings.id ~ "', 'dismissed', '" ~ expiry ~ "')",
        }
      }} %}
    </div>
  </div>
</div>
