{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * ccdocsmodule module for Craft CMS
 *
 * CcdocsmoduleWidget Widget Body
 *
 * @author    Craft&Crew
 * @copyright Copyright (c) 2022 Craft&Crew
 * @link      https://craftandcrew.ca/
 * @package   Ccdocsmodule
 * @since     1.0,0
 */
#}

<div class="documentation">
  {% include '_docs/contents.twig' with { intro: true } %}
</div>
